obie webhock.json
{
    "name": "world weather obie webhook",
    "flow": [
        {
            "id": 21,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 1142883,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -368,
                    "y": 134
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "My gateway-webhook webhook"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 20,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": -66,
                    "y": 128
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 14,
                            "module": "google-sheets:getSheetContent",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 207587
                            },
                            "mapper": {
                                "range": "H1:J104",
                                "select": "map",
                                "sheetId": "aktualna",
                                "spreadsheetId": "1zqUO-olEMDeVDw8sXEZhT-BAfkuP3Ct6ejWW5GPUr2Q",
                                "includesHeaders": false,
                                "valueRenderOption": "FORMATTED_VALUE",
                                "dateTimeRenderOption": "FORMATTED_STRING"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 239,
                                    "y": 368
                                },
                                "restore": {
                                    "expect": {
                                        "select": {
                                            "label": "Enter manually"
                                        },
                                        "includesHeaders": {
                                            "mode": "chose"
                                        },
                                        "valueRenderOption": {
                                            "mode": "chose",
                                            "label": "Formatted value"
                                        },
                                        "dateTimeRenderOption": {
                                            "mode": "chose",
                                            "label": "Formatted string"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (polandingraficy@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Enter a Spreadsheet and Sheet ID",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "map",
                                                "fromAll",
                                                "list"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "range",
                                        "type": "text",
                                        "label": "Range",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "boolean",
                                        "label": "Table contains headers",
                                        "required": true
                                    },
                                    {
                                        "name": "valueRenderOption",
                                        "type": "select",
                                        "label": "Value render option",
                                        "validate": {
                                            "enum": [
                                                "FORMATTED_VALUE",
                                                "UNFORMATTED_VALUE",
                                                "FORMULA"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "dateTimeRenderOption",
                                        "type": "select",
                                        "label": "Date and time render option",
                                        "validate": {
                                            "enum": [
                                                "SERIAL_NUMBER",
                                                "FORMATTED_STRING"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "text",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "text",
                                        "label": "Sheet Name",
                                        "required": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "__IMTLENGTH__",
                                        "type": "uinteger",
                                        "label": "Total number of bundles"
                                    },
                                    {
                                        "name": "__IMTINDEX__",
                                        "type": "uinteger",
                                        "label": "Bundle order position"
                                    },
                                    {
                                        "name": "__ROW_NUMBER__",
                                        "type": "number",
                                        "label": "Row number"
                                    },
                                    {
                                        "name": "__SPREADSHEET_ID__",
                                        "type": "text",
                                        "label": "Spreadsheet ID"
                                    },
                                    {
                                        "name": "__SHEET__",
                                        "type": "text",
                                        "label": "Sheet"
                                    },
                                    {
                                        "name": "0",
                                        "type": "text",
                                        "label": "H"
                                    },
                                    {
                                        "name": "1",
                                        "type": "text",
                                        "label": "I"
                                    },
                                    {
                                        "name": "2",
                                        "type": "text",
                                        "label": "J"
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 16,
                            "module": "json:AggregateToJSON",
                            "version": 1,
                            "parameters": {
                                "type": 15053,
                                "space": "",
                                "feeder": 14
                            },
                            "mapper": {
                                "City": "{{14.`0`}}",
                                "icon": "{{substring(14.`1`; 0; 2)}}",
                                "temp": "{{round(parseNumber(14.`2`; \",\"))}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 300
                                },
                                "restore": {
                                    "extra": {
                                        "feeder": {
                                            "label": "Google Sheets - Get Range Values [14]"
                                        }
                                    },
                                    "parameters": {
                                        "type": {
                                            "label": "My data structure"
                                        },
                                        "space": {
                                            "label": "Empty"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "type",
                                        "type": "udt",
                                        "label": "Data structure",
                                        "required": true
                                    },
                                    {
                                        "name": "space",
                                        "type": "select",
                                        "label": "Indentation",
                                        "validate": {
                                            "enum": [
                                                "tab",
                                                "2",
                                                "4"
                                            ]
                                        }
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "City",
                                        "type": "text",
                                        "label": null
                                    },
                                    {
                                        "name": "temp",
                                        "type": "text",
                                        "label": null
                                    },
                                    {
                                        "name": "icon",
                                        "type": "text",
                                        "label": null
                                    }
                                ]
                            }
                        },
                        {
                            "id": 17,
                            "module": "onedrive-business:ActionUploadFile",
                            "version": 1,
                            "parameters": {
                                "account": 2040012
                            },
                            "mapper": {
                                "data": "{{16.json}}",
                                "driveId": "b!W2AwgnGS4U-HjMHIqSz0P98w-k51JjdEtpv9wdr8vjv_RHC1JUs2Qo-BzZ11_VET",
                                "fileName": "POGODA_{{formatDate(addDays(now; 1); \"DDMM\")}}.json",
                                "folderId": "/01ZI6JIZC3JLRQCHLZ2BG2P2FUIN36BZO4/01ZI6JIZGY5OQ6NQGKCRDZIXUJOYWVIEQM/01ZI6JIZG4ILOVSQFINBFYZPO2FPEW73IT",
                                "conflictBehavior": "replace"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "driveId": {
                                            "mode": "chose",
                                            "label": "Mąkosa, Konrad (business)"
                                        },
                                        "folderId": {
                                            "mode": "chose",
                                            "path": [
                                                "Repozytorium",
                                                "_World Weather",
                                                "json"
                                            ]
                                        },
                                        "conflictBehavior": {
                                            "label": "replace the existing file"
                                        }
                                    },
                                    "parameters": {
                                        "account": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "azure"
                                            },
                                            "label": "My Microsoft connection (Mąkosa, Konrad)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:azure",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "driveId",
                                        "type": "select",
                                        "label": "Drive ID",
                                        "required": true
                                    },
                                    {
                                        "name": "folderId",
                                        "type": "folder",
                                        "label": "Folder",
                                        "required": true
                                    },
                                    {
                                        "name": "fileName",
                                        "type": "filename",
                                        "label": "File name",
                                        "required": true,
                                        "validate": {
                                            "max": 200
                                        }
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Data",
                                        "required": true
                                    },
                                    {
                                        "name": "conflictBehavior",
                                        "type": "select",
                                        "label": "If the file with the same name exists",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "replace",
                                                "rename",
                                                "fail"
                                            ]
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "id": 18,
                            "module": "ftp:ActionUploadFile",
                            "version": 8,
                            "parameters": {
                                "account": 1561937,
                                "isToManageDataWithinSharedConnection": true
                            },
                            "mapper": {
                                "data": "{{16.json}}",
                                "append": false,
                                "folder": "/public_html/konrad",
                                "fileName": "pogoda_jutro.json",
                                "createPath": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "append": {
                                            "mode": "chose"
                                        },
                                        "folder": {
                                            "mode": "chose"
                                        },
                                        "createPath": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "account": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "ftp"
                                            },
                                            "label": "My FTP connection (serwer1707801.home.pl)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:ftp",
                                        "label": "Connection",
                                        "required": true
                                    },
                                    {
                                        "name": "isToManageDataWithinSharedConnection",
                                        "type": "boolean",
                                        "label": "Manage data within the shared connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "folder",
                                        "type": "folder",
                                        "label": "Folder",
                                        "required": true
                                    },
                                    {
                                        "name": "fileName",
                                        "type": "filename",
                                        "label": "File name",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Data",
                                        "required": true
                                    },
                                    {
                                        "name": "append",
                                        "type": "boolean",
                                        "label": "Append to an already existing file",
                                        "required": true
                                    },
                                    {
                                        "name": "createPath",
                                        "type": "boolean",
                                        "label": "Create folders if don't exist",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 3,
                            "module": "google-sheets:getSheetContent",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 207587
                            },
                            "mapper": {
                                "range": "B1:d104",
                                "sheetId": "aktualna",
                                "spreadsheetId": "1zqUO-olEMDeVDw8sXEZhT-BAfkuP3Ct6ejWW5GPUr2Q",
                                "includesHeaders": false,
                                "valueRenderOption": "FORMATTED_VALUE",
                                "dateTimeRenderOption": "FORMATTED_STRING"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 235,
                                    "y": -148
                                },
                                "restore": {
                                    "sheetId": {
                                        "mode": "chose",
                                        "label": "aktualna"
                                    },
                                    "__IMTCONN__": {
                                        "label": "My Google connection (polandingraficy@gmail.com)"
                                    },
                                    "spreadsheetId": {
                                        "mode": "chose",
                                        "label": "world weather"
                                    },
                                    "includesHeaders": {
                                        "mode": "chose"
                                    },
                                    "valueRenderOption": {
                                        "mode": "chose",
                                        "label": "Formatted value"
                                    },
                                    "dateTimeRenderOption": {
                                        "mode": "chose",
                                        "label": "Formatted string"
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "spreadsheetId",
                                        "type": "select",
                                        "label": "Spreadsheet",
                                        "required": true
                                    },
                                    {
                                        "name": "range",
                                        "type": "text",
                                        "label": "Range",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "boolean",
                                        "label": "Table contains headers",
                                        "required": true
                                    },
                                    {
                                        "name": "valueRenderOption",
                                        "type": "select",
                                        "label": "Value render option",
                                        "validate": {
                                            "enum": [
                                                "FORMATTED_VALUE",
                                                "UNFORMATTED_VALUE",
                                                "FORMULA"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "dateTimeRenderOption",
                                        "type": "select",
                                        "label": "Date and time render option",
                                        "validate": {
                                            "enum": [
                                                "SERIAL_NUMBER",
                                                "FORMATTED_STRING"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet",
                                        "required": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "__IMTLENGTH__",
                                        "type": "uinteger",
                                        "label": "Total number of bundles"
                                    },
                                    {
                                        "name": "__IMTINDEX__",
                                        "type": "uinteger",
                                        "label": "Bundle order position"
                                    },
                                    {
                                        "name": "__ROW_NUMBER__",
                                        "type": "number",
                                        "label": "Row number"
                                    },
                                    {
                                        "name": "__SPREADSHEET_ID__",
                                        "type": "text",
                                        "label": "Spreadsheet ID"
                                    },
                                    {
                                        "name": "__SHEET__",
                                        "type": "text",
                                        "label": "Sheet"
                                    },
                                    {
                                        "name": "0",
                                        "type": "text",
                                        "label": "B"
                                    },
                                    {
                                        "name": "1",
                                        "type": "text",
                                        "label": "C"
                                    },
                                    {
                                        "name": "2",
                                        "type": "text",
                                        "label": "D"
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 6,
                            "module": "json:AggregateToJSON",
                            "version": 1,
                            "parameters": {
                                "type": 15053,
                                "space": "",
                                "feeder": 3
                            },
                            "mapper": {
                                "City": "{{3.`0`}}",
                                "icon": "{{substring(3.`1`; 0; 2)}}",
                                "temp": "{{round(parseNumber(3.`2`; \",\"))}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 0
                                },
                                "restore": {
                                    "type": {
                                        "label": "My data structure"
                                    },
                                    "space": {
                                        "label": ""
                                    },
                                    "feeder": {
                                        "label": "Google Sheets - Get Range Values [3]"
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "type",
                                        "type": "udt",
                                        "label": "Data structure",
                                        "required": true
                                    },
                                    {
                                        "name": "space",
                                        "type": "select",
                                        "label": "Indentation",
                                        "validate": {
                                            "enum": [
                                                "tab",
                                                "2",
                                                "4"
                                            ]
                                        }
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "City",
                                        "type": "text",
                                        "multiline": false
                                    },
                                    {
                                        "name": "temp",
                                        "type": "text",
                                        "multiline": false
                                    },
                                    {
                                        "name": "icon",
                                        "type": "text",
                                        "multiline": false
                                    }
                                ]
                            }
                        },
                        {
                            "id": 10,
                            "module": "onedrive-business:ActionUploadFile",
                            "version": 1,
                            "parameters": {
                                "account": 2040012
                            },
                            "mapper": {
                                "data": "{{6.json}}",
                                "driveId": "b!W2AwgnGS4U-HjMHIqSz0P98w-k51JjdEtpv9wdr8vjv_RHC1JUs2Qo-BzZ11_VET",
                                "fileName": "POGODA_{{formatDate(addDays(now; 0); \"DDMM\")}}_aktualizacja.json",
                                "folderId": "/01ZI6JIZC3JLRQCHLZ2BG2P2FUIN36BZO4/01ZI6JIZGY5OQ6NQGKCRDZIXUJOYWVIEQM/01ZI6JIZG4ILOVSQFINBFYZPO2FPEW73IT",
                                "conflictBehavior": "replace"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "driveId": {
                                            "mode": "chose",
                                            "label": "Mąkosa, Konrad (business)"
                                        },
                                        "folderId": {
                                            "mode": "chose",
                                            "path": [
                                                "Repozytorium",
                                                "_World Weather",
                                                "json"
                                            ]
                                        },
                                        "conflictBehavior": {
                                            "label": "replace the existing file"
                                        }
                                    },
                                    "parameters": {
                                        "account": {
                                            "data": {
                                                "scoped": "undefined",
                                                "connection": "azure"
                                            },
                                            "label": "My Microsoft connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:azure",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "driveId",
                                        "type": "select",
                                        "label": "Drive ID",
                                        "required": true
                                    },
                                    {
                                        "name": "folderId",
                                        "type": "folder",
                                        "label": "Folder",
                                        "required": true
                                    },
                                    {
                                        "name": "fileName",
                                        "type": "filename",
                                        "label": "File name",
                                        "required": true,
                                        "validate": {
                                            "max": 200
                                        }
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Data",
                                        "required": true
                                    },
                                    {
                                        "name": "conflictBehavior",
                                        "type": "select",
                                        "label": "If the file with the same name exists",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "replace",
                                                "rename",
                                                "fail"
                                            ]
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "id": 12,
                            "module": "ftp:ActionUploadFile",
                            "version": 8,
                            "parameters": {
                                "account": 1561937,
                                "isToManageDataWithinSharedConnection": true
                            },
                            "mapper": {
                                "data": "{{6.json}}",
                                "append": false,
                                "folder": "/public_html/konrad",
                                "fileName": "pogoda_aktualna.json",
                                "createPath": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "append": {
                                            "mode": "chose"
                                        },
                                        "folder": {
                                            "mode": "chose"
                                        },
                                        "createPath": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "account": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "ftp"
                                            },
                                            "label": "My FTP connection (serwer1707801.home.pl)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:ftp",
                                        "label": "Connection",
                                        "required": true
                                    },
                                    {
                                        "name": "isToManageDataWithinSharedConnection",
                                        "type": "boolean",
                                        "label": "Manage data within the shared connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "folder",
                                        "type": "folder",
                                        "label": "Folder",
                                        "required": true
                                    },
                                    {
                                        "name": "fileName",
                                        "type": "filename",
                                        "label": "File name",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Data",
                                        "required": true
                                    },
                                    {
                                        "name": "append",
                                        "type": "boolean",
                                        "label": "Append to an already existing file",
                                        "required": true
                                    },
                                    {
                                        "name": "createPath",
                                        "type": "boolean",
                                        "label": "Create folders if don't exist",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": false,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com"
    }
}